.typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #fff; /* Ensure the border color is set */
    color: white;
    font-weight: 900;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Ensure the width is set to 100% */
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}