.typing {
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-weight: 900;
    display: inline-block;
}


.caret {
    display: inline-block;
    border-right: 0.15em solid white;
    animation: blink-caret 0.75s step-end infinite;
}

.start-content {
    padding-top: 100px;
}

#wordname {
    font-size: 50;
}

#wordstart {
    font-weight: 300;
    font-size: 50;
}

#wordcarrer {
    font-weight: 300;
    font-size: 30;
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}
